@model List<Final_Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
<p>@Html.ActionLink("NEW MOVIE", "New", "Movies", null, new { @class = "btn btn-primary" })</p>
@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", "Movies", new { Id = item.Id }, null)</td>
                <td>@item.Genre.Name</td>
            </tr>
        }
    </table>
}
else
{
    <text>We don't have any movies yet.</text>
}