@model List<Final_Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movies
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>
}
else
{
    <text>We don't have any movies yet.</text>
}